@use 'mixins'as *;

$blue: #086FDC;
$bg-light-blue: #538b95;
$light-blue: #789CFF;
$yellow: #EAD2AC;
$black: #000;
$white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// head {
//     link[rel="shortcut icon"] {
//         filter: invert(100%) sepia(25%) saturate(0%) hue-rotate(250deg) brightness(106%) contrast(101%);
//     }
// }

body {
    font-family: "Merriweather", serif;
    background: radial-gradient(circle, hsl(0, 25%, 83%), $blue);
    // background-size: cover;
    // background-repeat: no-repeat;
    height: 100vh;
    color: $white;

    // Header

    .nav {
        background-color: $black;
        height: calc(20px + 8.5rem); // Height of padding + svg + subtitle = 10px + 10px + 6rem + 2.5rem
        padding: 10px 0 10px 0;

        .nav-item {
            display: flex;
            align-items: center;
            width: fit-content;
            margin: auto;
            position: relative;
            padding-right: 70px;
            text-decoration: none;

            .B-svg {
                width: 6rem;
            }

            .title {
                color: $white;
                display: inline;
                font-size: 2rem;
                transform: translateY(15px);
                margin-left: 5px;
            }

            .subtitle {
                color: $yellow;
                position: absolute;
                top: 5.5rem;
                right: 0;
                font-size: 2.5rem;
            }
        }
    }

    // Main
    main {
        .picture {
            width: 50vw;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 375px;

        }



        .box {
            width: 90%;
            padding: 30px 10px 30px 10px;
            background-color: $black;
            border-radius: 2px 2px 50px 50px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, calc(50% + 10vw));

            @include breakpoint(1200px) {
                transform: translate(-50%, 45%);
            }

            // transform: translate(-50%, 45%);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            // transform: translateY(calc(80% * 1.396969697));

            .box-title {
                font-size: 5vw;
                text-shadow: 0 5px 20px $blue;
            }

            .box-content {
                display: flex;
                flex-direction: row;
                font-size: 2vw;
                gap: 8vw;

                .job {
                    color: $light-blue;
                    text-shadow: 0 2px 25px $white;
                    transform: translateY(calc((3vw + 1.5vw)/2)); // btn font size + top padding / 2
                }

                .btn {
                    color: $white;
                    background-color: $blue;
                    border-radius: 15px;
                    padding: 1.5vw;
                    text-decoration: none;
                }
            }
        }

        // @include breakpoint(850px) {
        //     .picture {
        //         top: 60%;
        //     }

        //     .box {
        //         top: 60%;
        //     }
        // }

    }

}